@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-lume-primary: #FFC107;
  --color-lume-secondary: #FFA000;
  --color-lume-bright: #FDD835;
  --color-lume-light: #FFECB3;
  --color-lume-dark: #131f37;
  --default-font-family: "Roboto", sans-serif
}