@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-lume-primary: #FFC107;
  --color-lume-secondary: #FFA000;
  --color-lume-bright: #FDD835;
  --color-lume-light: #FFECB3;
  --color-lume-dark: #1E2D4D;
  --color-lume-darker: #131F37;
  --default-font-family: "Inter", sans-serif;
}